@model IEnumerable<Phone>
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>Smartphone Store</head>
<body>
    <h3>Smartphones</h3>
    <table>
        <tr>
            <td>Model</td>
            <td>Company</td>
            <td>Price</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        { 
            <tr>
                <td>@phone.Name</td>
                <td>@phone.Company</td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Buy</a></td>
            </tr>
        }
    </table>
</body>
</html>